@keyframes change-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes left {
  from {
    left: -25%;
  }
  to {
    left: 25%;
  }
}

@keyframes right {
  from {
    right: 20%;
  }
  to {
    right: 25%;
  }
}

@keyframes center {
  from {
    right: -50%;
  }
  to {
    right: 50%;
  }
}

@media (max-width: 1200px) {
  @keyframes left {
    from {
      left: -20%;
    }
    to {
      left: 20%;
    }
  }
  @keyframes right {
    from {
      right: 15%;
    }
    to {
      right: 20%;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@media (max-width: 700px) {
  .carousel-text {
    display: none;
  }
}
$color-white: white;
