.carousel-4-wrapper {
  height: 100vh;
  width: 100vw;
  .carousel {
    width: 100%;
    height: 100%;
    position: relative;

    .Slider {
      height: 100%;
      width: 100%;
      .image-div {
        width: 100vw;
        height: 100vh;
        position: relative;
        &-text {
          font-size: 1rem;
          font-family: 'Roboto', 'Cerebri Sans';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: left;
          width: fit-content;
          backface-visibility: hidden;
          line-height: 0.1;
          h1 {
            margin: 0;
            word-spacing: 9999rem;
            line-height: 1.05em;
            font-weight: 700;
            font-size: 5rem;
            @media (max-width: 1200px) {
              font-size: 4rem;
            }
          }
          button {
            padding: 0;
            border: none;
            border-bottom: 1px solid black;
            border-width: 90%;
            margin-bottom: 2px;
            background: none;
            h5 {
              margin: 0;
            }
          }
        }
      }

      .carousel__slide--visible {
        .left {
          left: 25%;
          animation: change-opacity 1.2s, left 1.2s;
        }
        .right {
          right: 25%;
          animation: change-opacity 0.9s ease-in-out, right 0.9s ease-in-out;
        }
        .center {
          text-align: center;
          right: 50%;
          transform: translate(50%, -50%);
          animation: change-opacity 1.2s, center 1.2s;
          // color: #fff;
          button {
            border-bottom: 1px solid white;
            h5 {
              color: $color-white;
            }
          }
        }
        @media (max-width: 1200px) {
          .left {
            left: 20%;
          }
          .right {
            right: 20%;
          }
        }
      }
      .carousel__slide--hidden {
        .image-div-text {
          opacity: 0;
        }
      }
    }
    .carousel-dots {
      position: absolute;
      display: flex;
      justify-content: space-between;
      z-index: 12;
      width: 25px;
      bottom: 2%;
      right: 50%;
      transform: translateX(50%);
      // buttons
      .slides {
        display: block;

        background: none;
        border: 0.5px solid #bebebe;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin: 0;
        padding: 0;
        outline: none;
        &:disabled {
          background-color: #000;
        }
      }
    }
  }
}

.carousel-text {
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  button {
    display: block;
    position: relative;
    background: none;
    border: none;
    width: 100%;
    padding: 0px;
    margin: 0;
    text-align: right;
    font-size: 0.5rem;
    color: #bbb;
    &:not(:first-child):after {
      content: ' ';
      position: absolute;
      width: 15px;
      height: 0.5px;
      top: -15%;
      right: 2%;
      background-color: #bbb;
    }
    &:focus {
      outline: none;
    }

    &:disabled {
      color: #222;
    }
    h4,
    h6 {
      margin: 0;
      padding: 0;
      display: block;
      height: 20px;
    }
    h6 {
      font-weight: 400;
      line-height: 3;
    }
    h4 {
      line-height: 0.1;
    }
  }
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: fit-content;
  z-index: 12;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  @media (max-width: 700px) {
    flex-direction: row;
    top: unset;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
  }
  svg {
    display: block;
    width: 7px;
    height: 7px;
    margin: 7px;
    &:hover polyline {
      stroke: white;
      fill: white;
      background-color: transparent;
    }
  }
}
