.grid {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  &-image {
    width: 100%;
  }
}

@media (max-width: 519px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
